// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

header[role="banner"] {
    width: 300px;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    body>header {
        border-right: none;
    }

    header[role="banner"] {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .main-navigation>li {
        display: inline-block;
    }

    body>nav ul {
        padding-top: 0;
    }

}
